@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .porsche {
    flex-direction: column-reverse;
    align-items: center;
  }

  .gallery__img {
    max-width: 100%;  
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .menu {
    gap: 30px;
  }

  .header__content {
    min-height: 80dvh;
    padding: 20px 0;
  }

  .header__title {
    font-size: 100px;
    margin-bottom: 20px;
  }

  .header__link {
    font-size: 20px;
    padding: 17px 50px;
  }

  .porsche, .gallery, .about{
    padding-top: 50px;
  }

  .about {
    padding-bottom: 50px;
  }

  .about__img {
    margin-top: 50px;
  }
}

@media (width < 540px) {
  .nav__burger {
    display: block;
  }

  .menu {
    position: fixed;
    background: #141414e8;
    flex-direction: column;
    z-index: 999;
    top: 0;
    right: 100%;
    height: 100dvh;
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
  }

  .nav__burger:focus~.menu {
    right: 0;
  }

  .header__title {
    font-size: 50px;
  }

  .title {
    font-size: 32px;
  }

  .porsche__desc {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .gallery__content {
    flex-direction: column;
  }

  .about__desc {
    font-size: 16px;
  }

.footer__content {
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.form {
  margin-right: 0;
}

.footer__menu {
  align-items: center;
  gap: 15px;
}
}
